{{#each this}}
<div class="country-card">
    <h1>{{name}}</h1>
    <div class="wrapper">
        <ul class="country-info">
            <li class="country-info__item">
                <p><span class="span">Capital: </span>{{capital}}</p>
            </li>
            <li class="country-info__item">
                <p><span class="span">Population: </span>{{population}}</p>
            </li>
            <li class="country-info__item">
                <p><span class="span">Languages: </span></p>
                <ul class="lang-list">
                    {{#each languages}}
                    <li>
                        <p>{{name}}</p>
                    </li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img class="image" src="{{flag}}" alt="" width="550">
    </div>
</div>
{{/each}}